{% extends 'base.html.twig' %}

{% block title %}Page des catégories!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-6 mb-5">
            <button onClick="window.history.back();" class="btn btn-warning  mr-5" type="button">Retour</button>
            <button class="btn btn-success" type="button"><a style="color: black; text-decoration:none;" href="{{path('produits')}}">Voir les produits</a></button>
        </div>
        {# {% if (app.user and app.user.email == 'admin@admin.com') %} #}
        <div class="col-6">
            <button class="btn btn-primary" type="button"><a style="color: black; text-decoration:none;" href="{{path('admin_ajoutCategorie')}}">Créer une catégorie</a></button>
        </div>
        <br>
        {# {% endif %} #}
        <table class="table">
            <tr>
                <th>Nom</th>
                <th>Description</th>
                {# {% if is_granted('ROLE_STAFF') %} #}
                <th>Catégorie</th>
                <th>Editer</th>
                <th>Effacer</th>

                <th>Tous les produits</th>
                {# {% endif %} #}
                {% for category in listeCategory %}
            <tr>
                <td> {{category.nom}}</td>
                <td> {{category.description}}</td>
                {# {% if is_granted('ROLE_STAFF') %} #}

                <td> {{category.slug}}</td>

                <td><a href="{{path('admin_editCategorie', {'id':category.id})}}"><img style="width: 18%;"
                            src="https://static.thenounproject.com/png/3082134-200.png" alt=""></a></td>
                <td><a href="{{path('admin_deleteCategorie', {'id':category.id})}}"><img style="width: 9%;" src="https://icon-library.com/images/delete-icon-image/delete-icon-image-15.jpg" alt=""></a></td>

                <td>Voir tous les produits de <a
                        href="{{path('admin_showAllProducts', {'id':category.id})}}">{{category.nom}}</a></td>
                {# {% endif %} #}

            </tr>
            <br />
            {% endfor %}

            </tr>
        </table>
    </div>
</div>
{% endblock %}